* {
	margin: 0; padding: 0;
}

body {
	font-size: 14px;
}

.static {
	position: absolute;
	top: 1%;
	left: 2%;
	text-align: left;
	margin: 5px; padding: 5px;
}

.main {
	margin-left: auto ;
	margin-right: auto ;
	/*
	width: 100%;
	text-align: center;
	*/
	width: 453px;
}

a {
	color: #0000FF;
}

.stopbox {
	width: 38em;
	height: 7.5em;
	background-color: red;
}

.stop {
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 3em;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.footer {
	text-align: center;
}

table {
	width: 100%;
	border-spacing: 4px 2px;
	border: 1px solid #EEE;
	margin-bottom: 1em;
}

table, th, td {
	/*
	border: 1px solid black;
	*/
}

td.right {
	width: 1px;
}
